## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [9]:
import random

#### 1 - In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [10]:
# Sample() method available in random module to directly 
#generate a list of random numbers.
# We should specify a range and give how many random numbers we need to generate. - Values are unique 
# Example: randomlist = random.sample(range(10, 30), 5)

import random
sample_list_1 = random.sample(range(0,100),80)
print(sample_list_1)

[45, 64, 18, 56, 40, 25, 55, 96, 75, 90, 19, 9, 4, 43, 30, 12, 66, 36, 26, 80, 71, 52, 16, 11, 17, 50, 24, 77, 62, 58, 87, 67, 14, 13, 84, 65, 85, 41, 92, 83, 34, 78, 47, 98, 51, 23, 69, 59, 94, 15, 33, 21, 31, 38, 37, 97, 60, 99, 20, 28, 63, 79, 29, 72, 42, 3, 2, 74, 6, 27, 89, 32, 76, 88, 61, 7, 68, 22, 93, 49]

#### 2 - Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [11]:
#  We can use python set() function to convert list to set
# As Set does not allow duplicates, 
# when we convert list to set, all duplicates will be removed in the set, so the lenght will  be the same 
# uniqueNames=set(listOfStudents)

set1 = set(sample_list_1)
print (len(set1))

80

#### 3 - Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [12]:
# Your code here
sample_list_2  = []
for i in range(0,80):
    sample_list_2.append(random.randint(1,100))
    #print(i)
    #print(sample_list_2)
    
print(sample_list_2)

[74, 73, 93, 74, 49, 56, 35, 61, 51, 9, 49, 6, 4, 27, 64, 56, 100, 83, 87, 54, 64, 71, 38, 78, 55, 27, 15, 67, 15, 57, 28, 23, 57, 1, 42, 87, 81, 83, 97, 9, 16, 10, 17, 66, 57, 57, 63, 35, 10, 60, 34, 61, 37, 31, 84, 83, 75, 100, 11, 39, 21, 48, 69, 9, 23, 19, 93, 73, 85, 31, 72, 59, 35, 84, 6, 86, 20, 93, 60, 58]

#### 4 - Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
# Your code here

set2 = set(sample_list_2)

#### 5 - Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
# s.difference(t)

set3 = set1.difference(set2)
print(set3)

{2, 3, 7, 12, 13, 14, 18, 22, 24, 25, 26, 29, 30, 32, 33, 36, 40, 41, 43, 45, 47, 50, 52, 62, 65, 68, 76, 77, 79, 80, 88, 89, 90, 92, 94, 96, 98, 99}

#### 6 - Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{1, 35, 100, 39, 73, 10, 48, 81, 54, 86, 57}

#### 7 - Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [16]:
# s.intersection(t)

set5 = set1.intersection(set2)
print(set5)

{4, 6, 9, 11, 15, 16, 17, 19, 20, 21, 23, 27, 28, 31, 34, 37, 38, 42, 49, 51, 55, 56, 58, 59, 60, 61, 63, 64, 66, 67, 69, 71, 72, 74, 75, 78, 83, 84, 85, 87, 93, 97}

#### 8 - Create an empty set called `set6`.

In [19]:
# Your code here

set6=set()

#### 9 - Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [20]:
# s.update(t)

set6.update(set3,set5)

print(set6)

{2, 3, 4, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 40, 41, 42, 43, 45, 47, 49, 50, 51, 52, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99}

#### 10 - Check if `set1` and `set6` are equal.

In [21]:
# Use == 
print (set1==set6)

True

#### 11 - Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [23]:
# s.issubset(t) , s <= t , test whether every element in s is in t
print(set1,set2)
print(set2.issubset(set1))

{2, 3, 4, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 40, 41, 42, 43, 45, 47, 49, 50, 51, 52, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99} {1, 4, 6, 9, 10, 11, 15, 16, 17, 19, 20, 21, 23, 27, 28, 31, 34, 35, 37, 38, 39, 42, 48, 49, 51, 54, 55, 56, 57, 58, 59, 60, 61, 63, 64, 66, 67, 69, 71, 72, 73, 74, 75, 78, 81, 83, 84, 85, 86, 87, 93, 97, 100}
False

#### 12 -Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [24]:
# s.union(t),  s | t , new set with elements from both s and t

print(set3.union(set4,set5)==set1.union(set2))

True

#### 13 -Using the `pop` method, remove the first element from `set1`.

In [26]:
# Your code here
print(set1)
set1.pop()
print(set1)

{3, 4, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 40, 41, 42, 43, 45, 47, 49, 50, 51, 52, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99}
{4, 6, 7, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 40, 41, 42, 43, 45, 47, 49, 50, 51, 52, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 74, 75, 76, 77, 78, 79, 80, 83, 84, 85, 87, 88, 89, 90, 92, 93, 94, 96, 97, 98, 99}

#### 14 -Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [28]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list_to_remove:
    if i in set1:
        set1.remove(i)
        #print(set1)
print (set1)

{4, 6, 7, 12, 13, 14, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 36, 37, 38, 40, 42, 43, 45, 47, 50, 52, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 72, 74, 75, 76, 77, 78, 80, 83, 84, 85, 87, 88, 90, 92, 93, 94, 96, 97, 98}

#### 15 -The objective of this lab is to provide you a overview of manipulating sets in Python and how they can be integrated within a real usecase
#### For the exercises below it's strongly advised to quickly check this link: https://docs.python.org/2/library/sets.html#sets.Set
#### Imagine you need to create the grocery list for your family! Below you will see a list of items each family member wants. There will be repetitions because this family has the habbit of each time they notice something is missing to write it down. The problem is that they don't really talk to each other and therefore some items in the list are repeated. With the collection of questions below you will see how they solve repetion and create a grocery list with unique elements.

In [29]:
father_list = ['garlic', 'watermelon', 'toilet paper', 'yogurt', 'onions', 'gums', 'flour', 'cucumber', 'watermelon', 'yogurt', 'garlic']

mother_list = []

Jo_list = ['blueberries', 'sugar', 'watermelon', 'gums', 'tomatoes', 'yogurt', 'juice', 'milk', 'onions', 'garlic', 'cucumber', 'sugar', 'blueberries', 'gums', 'yogurt']

Carlos_list = ['tomatoes', 'water', 'onions', 'blueberries', 'garlic', 'flour', 'cherries', 'tomatoes', 'onions', 'water', 'tomatoes', 'toilet paper']

Mattia_list = []

#### 15.1- As you can see there are items repeated in each list. Creat a sequence of iterable elements with dintinct items that each family member wants. You can do it in two different ways. Assign each one (set) to a variable with the name of the family member (ex: father_set).

In [32]:
# Set removes all values that are duplicated 

father_set = set(father_list)
jo_set= set(Jo_list)
Carlos_set= set(Carlos_list)

#### 15.2- Q: Mattia wants the same items that his brother Carlos and his sister Jo but doesn't want anything they both want.

##### Hint: check out the documentation for `x.symmetric_difference(y)`.

In [33]:
# s.symmetric_difference(t) / s ^ t / new set with elements in either s or t but not both

Mattia_list = Carlos_set.symmetric_difference(jo_set)
print(Mattia_list)

{'milk', 'cherries', 'water', 'cucumber', 'toilet paper', 'flour', 'watermelon', 'yogurt', 'juice', 'gums', 'sugar'}

#### 15.3- The line of code below  will  generate a list of random elements from a collection of items, with replacement. Run it and from it create a sequence of unique elements and assign it to the variable mother.

In [35]:
import random
items = ['milk', 'water', 'chocolate', 'blueberries', 'shampoo', 'flour', 'bread', 'sugar', 'watermelon', 'vinegar', 'tomatoes', 'yogurt', 'juice', 'gums', 'onions', 'garlic', 'cucumber', 'mushrooms', 'toilet paper', 'oranges', 'deodorant', 'cherries']

mother_list = random.choices(items,k = 10) # https://docs.python.org/3/library/random.html

print(mother_list)

['yogurt', 'garlic', 'milk', 'shampoo', 'yogurt', 'blueberries', 'gums', 'cucumber', 'water', 'water']

In [36]:
# Your code here
mother = set(mother_list)
print(mother)

{'milk', 'water', 'cucumber', 'shampoo', 'yogurt', 'blueberries', 'garlic', 'gums'}

#### 15.4- Before leaving the house to the grocery store the father found a lot of toilet paper, so the mother decided to remove it from the items needed to be bought. Use the `.discard()` method to remove from each set created before the 'toilet paper'. 

#### Hint: Try to first create a list contaning the variables of each set created before, then loop through them and remove the unecessary item. 

##### Note: The`.discard()` method will remove and update the set without the need of reassignment.

In [46]:
# Your code here

family_set = mother.union(Mattia_list,Carlos_set,jo_set,father_set)
print (family_set)
family_set.discard('toilet paper')
print (family_set)

{'toilet paper', 'watermelon', 'shampoo', 'yogurt', 'juice', 'gums', 'milk', 'cherries', 'onions', 'water', 'cucumber', 'flour', 'tomatoes', 'blueberries', 'garlic', 'sugar'}
{'watermelon', 'shampoo', 'yogurt', 'juice', 'gums', 'milk', 'cherries', 'onions', 'water', 'cucumber', 'flour', 'tomatoes', 'blueberries', 'garlic', 'sugar'}

#### 15.5- Create a set with all the groceries needed to be bought for the house (no repetitions).

In [ ]:
# Your code here

#### 15.6- The Father said that he could only buy five items this time. So he decided to arbitraly pick wich ones to buy this time.

##### Hint: use the `.pop()` method.

In [38]:
# Your code here

print(len(family_set))

15

In [48]:
print(family_set)
for i in range(5,len(family_set)):
    family_set.pop()

print(family_set)

{'flour', 'tomatoes', 'blueberries', 'garlic', 'sugar'}
{'flour', 'tomatoes', 'blueberries', 'garlic', 'sugar'}

In [53]:
#for i in range(5,15):
    #print(i)

print([i for i in range(1,5)])

[1, 2, 3, 4]